* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s ease-out;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(45deg, #d3d3d3 0%, #f2f2fd 50%, #fde6f4 100%)
    center;
  background-size: 100% 100% !important;
  min-height: 100vh;
}
